.chatbox {
  height: 377px;
  width: 241px;
}
body{
  background-color: black;
}

.chatbox .rectangle {
  background-color: white;
  border-radius: 33px;
  height: 377px;
  left: 0;
  position: fixed;
  top: 0;
  width: 241px;
}
.frame {
  background-color: #8cc4f8;
  height: 104px;
  width: 241px;
  position: absolute;
  border-radius: 33px;
}
.image {
  height: 200px;
  width: 200px;
}

.cls-1 {
  fill: white
}

.chatbox img {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 200px;
}

